<%- include('../partials/header') %>

<form id="new-form" action="/breweries" method="POST">
  <label>Brewery Name:</label>
  <input type="text" name="name">
  <label>City, State:</label>
  <input type="text" name="location">
  <label>Dog Friendly?:</label>
  select
  <select name="dogFriendly">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
  </select>
  <label>Ambience:</label>
  <select name="ambience">
    <option value="Chill">Chill</option>
    <option value="Uplifting">Uplifting</option>
    <option value="Classy">Classy</option>
  </select>

  <input type="submit" value="Add Brewery">
</form>

<%- include('../partials/footer') %>
