<%- include('../partials/header') %>

<section id="show-page">
    <div>Brewery: </div>
    <div><%= brewery.brewery %></div>
    <div>Location: </div>
    <div><%= brewery.location %></div>
  </section>





<%- include('../partials/footer') %>
