<%- include('../partials/header') %>

<section id="show-page">
    <div>Brewery: </div>
    <div><%= brewery.name %></div>
    <div>Location: </div>
    <div>asdf</div>
  </section>





<%- include('../partials/footer') %>
