<%- include('../partials/header') %>


    <form id="checkin-form" action="/breweries/<%= brewery._id %>/checkins" method="POST">
        <button type="submit" action="/breweries/<%= brewery._id%>/checkins">Yes</button>
        <a href="/breweries">no</a>
    </form>




<%- include('../partials/footer') %>
